body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header img {
  max-width: 100%;
  width: 1500px; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
  height: 250px;
}

.calculator {
  text-align: center;
  width: 60%;
  max-width: 1000px; /* Ajuste o tamanho máximo do contêiner do formulário conforme necessário */
  margin: 20px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator h1 {
  margin: 0;
  font-size: 400px;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input,
select {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}
